<h1>Import Goods</h1>

<% if flash[:error] %>
  <span style="color: red;">
    The following error occurred: <%= flash[:error] %>
  </span>
<% end %>

<%= form_with url: bulk_upload_path do |form| %>
  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', goods_path %>
